@import "tailwindcss";

@font-face {
  font-family: "SUIT";
  font-weight: 100;
  src: url("/fonts/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("/fonts/SUIT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("/fonts/SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("/fonts/SUIT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  src: url("/fonts/SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("/fonts/SUIT-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("/fonts/SUIT-ExtraBold.woff2") format("woff2");
}

@theme inline {
  --background: #ffffff;
  --foreground: #12263c;
  --color-primary: #ff9a00;
  --color-primary-sub: #fff1dd;
  --color-gray: #767676;
  --color-gray-mid: #999999;
  --color-line: #dbdbdb;
  --color-gray-bg: #f1f1f1;
  --text-xs: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SUIT", sans-serif;
  font-weight: 500;
}

*,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure,
figcaption,
span {
  letter-spacing: -0.3px;
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
button:disabled {
  cursor: no-drop;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: no-drop;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea::placeholder {
  color: #a2a2a2;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: -0.3px;
  font-weight: 500;
}

select:focus {
  outline: none;
}

option {
  letter-spacing: -0.3px;
  font-weight: 500;
}

select::-ms-expand {
  display: none;
}

@utility inner-padding {
  padding-left: 16px;
  padding-right: 16px;
}

@utility header-layout {
  height: calc(45px + 40px);
  padding-top: 40px;
  display: flex;
  align-items: center;
}

@utility text-title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 9px;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
